*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 0;
  color: rgba(0, 0, 0, 0.87);

}

:root {
  --back_color: rgba(0, 0, 0, 0.87);
}

/* --primary: #7467ef;
--secondary: #ff9e43;
--error: #f44336;
    --bg-default: #fafafa;
    --bg-paper: #fff;
    --text-body: rgba(0, 0, 0, 0.87);
    --text-muted: rgba(0, 0, 0, 0.54);
    --text-hint: rgba(0, 0, 0, 0.38);
    --font: Roboto,"Helvetica Neue",sans-serif; */